::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#tooltip-text {
  display: none;
}

#video-grid {
  width: 100%;
  height: 85vh;
  align-content: center;
  transition: 0.5s;
}

#chat-section,
#participant-section,
#information-section {
  width: 0;
  height: 85vh;
  overflow: hidden;
  transition: 0.5s;
}

video {
  margin-top: 0.5em;
  height: 40%;
  width: 40%;
}

textarea {
  resize: none;
  max-height: 80px;
}

.chats {
  overflow: auto;
}

.user-message {
  align-self: flex-end;
}

.btn-icon-disable {
  margin: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 8 0 / var(--tw-bg-opacity));
  padding: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn-icon-disable:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(138 3 3 / var(--tw-bg-opacity));
}
.screen-btn {
  margin: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(27, 18, 18 / var(--tw-bg-opacity));
  padding: 1rem;
}

.chat-message {
  word-wrap: break-word;
}

.active {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}
