::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.incorrect {
  border-color: red !important;
}
